In [2]:
# Question-2 [P. Geethika]
# A) replace all numbers less than 15 to 15 and all numbers greater than 45 to 45 in the given array
import numpy as np
np.random.seed(100) 
a = np.random.uniform(1,50, 20) 
print(a)
np.clip(a, 15, 45)

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]

array([27.62684215, 15.        , 21.80136195, 42.39403048, 15.        ,
       15.        , 33.86670515, 41.466785  , 15.        , 29.17957314,
       44.67477576, 15.        , 15.        , 15.        , 15.        ,
       45.        , 40.77247431, 15.        , 40.99501269, 15.        ])

In [4]:
# B) python program to split a text column into two separate columns using pandas.
import pandas as pd
df = pd.DataFrame([[33,"Mumbai","Maharashtra"], [44,"Chennai","Tamil Nadu"], [40,"Vishakapatnam","Telengana"], [80,"Bangalore","Karnataka"]],columns = ["STD", "City", "State"], index=range(4))
print(df)

   STD           City        State
0   33         Mumbai  Maharashtra
1   44        Chennai   Tamil Nadu
2   40  Vishakapatnam    Telengana
3   80      Bangalore    Karnataka